<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Ericsson Research</string>
	<key>Builder Version</key>
	<string>11601.4.4</string>
	<key>CFBundleDisplayName</key>
	<string>OpenWebRTC</string>
	<key>CFBundleIdentifier</key>
	<string>com.ericsson.research.owr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>owrbar.html</string>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>camsym</string>
				<key>Image</key>
				<string>cam.png</string>
				<key>Label</key>
				<string>Click to know use of camera / microphone</string>
				<key>Menu</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>bootstrap.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Add WebRTC support using OpenWebRTC</string>
	<key>DeveloperIdentifier</key>
	<string>TBA</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.openwebrtc.org</string>
</dict>
</plist>
